@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto);
.link {
  display: inline-block;
  color: #4183d7;
  text-decoration: none; }
  .link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 2px;
    background-color: #4183d7;
    transition: width 0.2s; }
  .link:hover {
    opacity: 0.8; }
  .link:hover::after {
    width: 100%;
    opacity: 0.8; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

li {
  list-style: none; }

body {
  background-color: #3a3c40;
  padding-bottom: 100px; }

.container {
  width: 100%;
  height: 360px; }

.effect {
  position: relative;
  width: 480px;
  height: 360px;
  margin: 10px auto; }

.inside-nav {
  position: fixed; }

.prev-page {
  position: absolute;
  font-size: 30px;
  color: #fafafa; }

.prev-page > a {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 10px; }

#cica .fa-plus {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 4em;
  opacity: 0;
  transition: all 0.5s; }
#cica img {
  transition: all 0.5s; }
#cica h2, #cica p {
  position: absolute;
  width: 30%;
  opacity: 0;
  border: none;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.01, 0.23, 0.06, 1); }
#cica h2 {
  padding-bottom: 5px;
  font-size: 23px;
  top: 0;
  left: 10%; }
#cica p {
  font-weight: bold;
  bottom: 0;
  left: 10%; }
#cica:hover img {
  -webkit-filter: blur(2px); }
#cica:hover h2 {
  top: 40%;
  opacity: 0.7;
  border-bottom: solid 2px #E67E22; }
#cica:hover p {
  bottom: 45%;
  opacity: 0.7;
  -webkit-filter: blur(0px); }
#cica:hover .fa {
  opacity: 0.4;
  -webkit-filter: blur(0px); }

#kutya .kutya_img {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 350px;
  width: 470px;
  z-index: -1;
  transition: all linear 0.2s; }
#kutya .kutya_h2 {
  position: relative;
  top: 30%;
  right: 8%;
  color: #e25d33;
  text-align: center; }
  #kutya .kutya_h2 span {
    position: absolute;
    display: inline;
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    transition: all 0.5s; }
  #kutya .kutya_h2 .kutya2 {
    opacity: 0;
    color: #3a3c40;
    transform: rotateY(90deg); }
#kutya .kutya_p {
  position: relative;
  top: 38%;
  opacity: 0;
  text-align: center;
  font-weight: bold;
  transition: all linear 0.2s; }
#kutya a {
  color: #e25d33;
  text-decoration: none; }
#kutya:hover .kutya1 {
  opacity: 0;
  transform: rotateY(90deg); }
#kutya:hover .kutya2 {
  opacity: 1;
  color: #3a3c40;
  transform: rotateY(0deg); }
#kutya:hover .kutya_img {
  -webkit-filter: blur(3px); }
#kutya:hover .kutya_p {
  opacity: 1; }
#kutya:hover #borderlinetop {
  transform: translateX(455px);
  opacity: 0.7; }
#kutya:hover #borderlinebottom {
  transform: translateX(-455px);
  opacity: 0.7; }
#kutya:hover #line1 {
  transform: translateX(-430px); }
#kutya:hover #line2 {
  transform: translateY(-310px); }
#kutya:hover #line3 {
  transform: translateY(310px); }
#kutya:hover #line4 {
  transform: translateX(-430px); }
#kutya:hover #line5 {
  transform: translateX(430px); }
#kutya:hover #line6 {
  transform: translateY(310px); }
#kutya:hover #line7 {
  transform: translateY(-310px); }
#kutya:hover #line8 {
  transform: translateX(430px); }
#kutya svg {
  position: absolute;
  top: 0;
  left: 0; }
  #kutya svg line {
    stroke-width: 3;
    stroke: #e25d33;
    fill: none;
    stroke-dasharray: 480;
    transition: all 0.4s; }

#borderlinetop, #borderlinebottom {
  opacity: 0;
  stroke: #3a3c40 !important; }

#madar {
  color: #3a3c40;
  overflow: hidden; }

.overlay, .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 0; }

.overlay {
  z-index: -1;
  border-top: 100px solid rgba(226, 93, 52, 0.8);
  border-right: 100px solid transparent;
  transition: border 0.5s; }

.info {
  z-index: 1;
  width: 100%; }
  .info p {
    height: 0;
    margin-top: 20px;
    margin-left: 10px;
    opacity: 1;
    text-transform: uppercase;
    transition: opacity 0.5s; }
  .info:hover .overlay {
    border-top: 840px solid rgba(226, 93, 51, 0.7);
    border-right: 840px solid transparent; }
  .info:hover p {
    opacity: 0;
    transition: opancity 0.5s; }
  .info:hover .overlay-content {
    opacity: 1;
    transition: opacity 0.5s;
    transition-delay: 0.2s; }

.overlay-content {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s; }
  .overlay-content h2 {
    text-align: center; }
  .overlay-content ul {
    margin: 0 auto;
    width: 140px;
    text-align: center; }
  .overlay-content li {
    padding: 10px 0;
    color: #fafafa; }

.icon {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 40px; }

.aperture {
  background: url("../img/hover_allat/icon_photo.png") 0 -101px no-repeat; }
  .aperture::after {
    content: "ƒ/5.4";
    margin-left: 30px;
    font-weight: bold; }

.exposure {
  background: url("../img/hover_allat.html/icon_photo.png") -100px -78px no-repeat; }
  .exposure::after {
    content: "1/40";
    margin-left: 30px;
    font-weight: bold; }

.focal-length {
  background: url("../img/hover_allat.html/icon_photo.png") -40px -124px no-repeat; }
  .focal-length::after {
    content: "37.0mm";
    margin-left: 30px;
    font-weight: bold; }

.iso {
  background: url("../img/hover_allat/icon_photo.png") 0px -149px no-repeat; }
  .iso::after {
    content: "100";
    margin-left: 30px;
    font-weight: bold; }

#medve .medve-overlay, #medve img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
#medve .medve-overlay {
  width: 480px;
  height: 360px;
  border: 2px solid #e25d33;
  transition: all 0.3s; }
  #medve .medve-overlay::after {
    content: "Bővebben";
    display: block;
    font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 13px;
    color: #fafafa;
    background-color: rgba(40, 40, 39, 0.7);
    opacity: 0;
    transition: opacity 0s;
    transition-delay: 0s; }
#medve img {
  width: 470px;
  height: 350px; }
#medve:hover .medve-overlay {
  width: 200px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s; }
  #medve:hover .medve-overlay::after {
    opacity: 1;
    transition: opacity 0.2s;
    transition-delay: 0.1s; }
